/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
	font-family: "";
	src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */
html {
	background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
	background-blend-mode: multiply,multiply;
 	background-blend-mode: soft-light,screen;
	background-size: cover;
	font-family: "helvetica neue";
	text-align: center;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 10px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
		inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
	width: 50%;
	height: 6px;
	background: whitesmoke;
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.001s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand{
	width: 96px;
	transform-origin: center;
	right: 30px;
	top: 95px;
	background-color: red;
}

